.categories{
    display: flex;
    justify-content: start;
    align-items: center;
    padding:1px;
    gap: 5px;
    padding-bottom: 7px;
}
.category-container{
    padding: 5px;
    background-color:#f5f5f5;
    border-radius: 9px;
    padding-left: 10px;


}

.categories img{
    border-radius: 50%;
}

.c-name{
    font-size: 14px;
    font-weight: 500;
    color: #757575;
}